<h2>Merchant: <%=@merchant.name%></h2>

<table class="paleOrangeRows">
  <thead>
  <th>Amount</th>
  <th>Description</th>
  <th>Date</th>
  <th>Tag</th>
  <th>Action</th>
</thead>
  <% for transaction in @transactions %>
    <tr>
      <td><%= transaction.amount %></td>
      <td><%= transaction.description %></td>
      <td><%= transaction.transaction_date %></td>
      <td><%= transaction.tag.name %></td>
      <td><a href="/transactions/<%=transaction.id%>">Show Details</td>
      </tr>
  <%end%>
</table>
