<h2>Please give the new details for this account!</h2>

<form class="to-style" action="/accounts/<%=@account.id%>" method="post">
  <label for="acc-currency">Account currency:</label>
    <input id="acc-currency" type="text" name="currency" value="<%=@account.currency%>"/>
    <br>
  <label for="acc-budget">Please provide a new budget:</label>
    <input id="acc-holder" type="number" name="budget" value="<%=@account.budget%>" step="0.01"/>
    <br>
  <label for="acc-limit">Please provide a new spending limit:</label>
    <input id="acc-limit" type="number" name="spending_limit" value="<%=@account.spending_limit%>" step="0.01"/>
    <br>
  <input type="submit" value="Update account">
</form>

<form method="post" action="/accounts/<%= @account.id %>/delete">
    <input type="submit" value="Delete Account"/>
</form>
