<h2>Tag: <%=@tag.name%></h2>


<table class="paleOrangeRows">
  <thead>
  <th>Amount</th>
  <th>Description</th>
  <th>Date</th>
  <th>Merchant</th>
  <th>Action</th>
</thead>
  <% for transaction in @transactions %>
    <tr>
      <td><%= transaction.amount %></td>
      <td><%= transaction.description %></td>
      <td><%= transaction.transaction_date %></td>
      <td><%= transaction.merchant.name %></td>
      <td><a href="/transactions/<%=transaction.id%>">Show Details</td>
      </tr>
  <%end%>
</table>
