<h1>Please give details for this transaction!</h1>

<form action="/transactions/<%=@transaction.id%>" method="post">
  <label for="tr-amount">Amount spent:
    <input id="tr-amount" type="number" name="amount" value="<%=@transaction.amount%>"/>
  </label>
  <label for="tr-description">Please provide a small description for the transaction:
    <input id="tr-description" type="text" name="description" value="<%=@transaction.description%>"/>
  </label>
  <label>Please provide a small description for the transaction:
    <input id="tr-date" type="date" name="transaction_date" value="<%=@transaction.transaction_date%>"/>
  </label>
  <label for="tr-merchant">Where did you get this from?
    <select id="tr-merchant" name="merchant_id">
      <% for merchant in @merchants %>
        <option value="<%=merchant.id%>"
          <%="selected" if merchant.id == @transaction.merchant_id %>
          ><%=merchant.name%></option>
      <%end%>
    </select>
  </label>
  <label for="tr-tag">What category does this belong to?
    <select id="tr-tag" name="tag_id">
      <% for tag in @tags %>
        <option value="<%=tag.id%>"
          <%="selected" if tag.id == @transaction.tag_id %>
          ><%=tag.name%></option>
      <%end%>
    </select>
  </label>
  <label for="tr-currency">Would you like to change it to a different currency?
    <select id="tr-currency" name="account_id">
      <% for account in @accounts %>
        <option value="<%=account.id%>"
          <%="selected" if account.id == @transaction.account_id %>
          ><%=account.currency%></option>
      <%end%>
    </select>
  </label>
  <input type="submit" value="Edit this transaction">
</form>
