<h2>Your limit is <%= @account.spending_limit %> <%= @account.currency %> </h2>

<form action="/transactions/new" method="get">
  <input type="hidden" name="account_id" value="<%=@account.id%>">
  <input class="form-bttn-special" type="submit" value="Add New Transaction">
</form>

  <table class="paleOrangeRows">
    <form action="/accounts/<%=@account.id%>" method="get">
    <thead>
    <th><input class="form-bttn" type="submit" name="amount" value="Amount"></th>
    <th><input class="form-bttn" type="submit" name="description" value="Description"></th>
    <th><input class="form-bttn" type="submit" name="transaction_date" value="Date"></th>
    <th><input class="form-bttn" type="submit" name="merchant_id" value="Merchant"></th>
    <th><input class="form-bttn" type="submit" name="tag_id" value="Tag"></th>
    <th colspan="2">Action</th>
  </thead>
  </form>
    <% for transaction in @transactions %>
      <tr>
        <td><%= transaction.amount %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.transaction_date %></td>
        <td><% if transaction.merchant_id != nil %>
              <%= transaction.merchant.name %>
            <% else %>
              <%="Unknown"%>
            <%end%>
        </td>
        <td><% if transaction.tag_id != nil%>
              <%= transaction.tag.name%>
            <% else %>
              <%="Unknown"%>
            <%end%>
        </td>
        <td><a href="/transactions/<%=transaction.id%>/edit">Edit</td>
        <td>
          <form action="/transactions/<%= transaction.id %>/delete" method="post">
            <input class="form-bttn" type="submit" value="Delete"/>
          </form>
        </td>
      </tr>
    <%end%>
    <tfoot>
      <tr>
        <td colspan="7">
          The total you have spent is <%=@total%>
        </td>
      </tr>
      <tr>
        <td colspan="7">
        <% if @total > @account.budget %>
          <img src="/images/red.png" alt="You're nearing your spending limit" style="width:1em;height:1em;">
          <p>You're over your budget of <%=@account.budget%></p>
        <%else%>
          <img src="/images/green.png" alt="You're nearing your spending limit" style="width:1em;height:1em;">
          <p>You're within your budget of <%=@account.budget%></p>
        <%end%>
      </td>
    </tr>
  </tfoot>
  </table>
