<h1>Your budget is <%= @account.budget %> <%= @account.currency %> </h1>

<form action="/transactions/new" method="get">
  <input type="hidden" name="account_id" value="<%=@account.id%>">
  <input type="submit" value="Add New Transaction">
</form>

<table>
  <th>Amount</th>
  <th>Description</th>
  <th>Date</th>
  <th>Action</th>
  <% for transaction in @transactions %>
    <tr>
      <td><%= transaction.amount %></td>
      <td><%= transaction.description %></td>
      <td><%= transaction.transaction_date %></td>
      <td><a href="/transactions/<%=transaction.id%>">Show Details</td>
      </tr>
  <%end%>
  <tr rowspan="4">
    <td>The total you have spent is <%=@total%></td>
  </tr>
</table>
