<h2>Your budget is <%= @account.budget %> <%= @account.currency %> </h2>

<form action="/transactions/new" method="get">
  <input type="hidden" name="account_id" value="<%=@account.id%>">
  <input class="form-bttn-special" type="submit" value="Add New Transaction">
</form>

<table class="paleOrangeRows">
  <thead>
  <th>Amount</th>
  <th>Description</th>
  <th>Date</th>
  <th>Action</th>
</thead>
  <% for transaction in @transactions %>
    <tr>
      <td><%= transaction.amount %></td>
      <td><%= transaction.description %></td>
      <td><%= transaction.transaction_date %></td>
      <td><a href="/transactions/<%=transaction.id%>">Show Details</td>
      </tr>
  <%end%>
  <tfoot>
    <tr>
    <td colspan="4">
      The total you have spent is <%=@total%>
      <% if @total > @account.spending_limit %>
        <img src="/images/red.png" alt="You're nearing your spending limit" style="float:left;width:1em;height:1em;">
      <%else%>
        <img src="/images/green.png" alt="You're not within your spending limit" style="float:left;width:1em;height:1em;">
      <%end%>
    </td>
  </tr>
</tfoot>
</table>
