<h2>Please give details for the new transaction!</h2>

<form action="/transactions" method="post">
  <label for="tr-amount">Amount spent:
    <input id="tr-amount" required type="number" name="amount" value="0" step="0.01"/>
  </label>
  <label for="tr-description">Please provide a small description for the transaction:
    <input id="tr-description" required type="text" name="description" placeholder="Input description"/>
  </label>
  <label for="tr-date">When did you make the transaction?
    <input id="tr-date" required type="date" name="transaction_date" value=""/>
  </label>
  <label for="tr-merchant">Where did you get this from?
    <select id="tr-merchant" name="merchant_id">
      <option selected disabled value="0"></option>
      <% for merchant in @merchants %>
        <option value="<%=merchant.id%>"><%=merchant.name%></option>
      <%end%>
    </select>
  </label>
  <label for="tr-tag">What category does this belong to?
    <select id="tr-tag" name="tag_id">
      <option selected disabled value="0"></option>
      <% for tag in @tags %>
        <option value="<%=tag.id%>"><%=tag.name%></option>
      <%end%>
    </select>
  </label>
  <input type="hidden" name="account_id" value="<%=@account_id%>">
  <input type="submit" value="Create new transaction">
</form>
