<h1>Please give details for the new transaction!</h1>

<form action="/transactions" method="post">
  <label for="tr-amount">Ammount spent:
    <input id="tr-amount" type="number" name="amount" value="0" step="0.01"/>
  </label>
  <label for="tr-description">Please provide a small description for the transaction:
    <input id="tr-description" type="text" name="description" value="Description here"/>
  </label>
  <label>Please provide a small description for the transaction:
    <input id="tr-date" type="date" name="transaction_date" value=""/>
  </label>
  <label>Where did you get this from?
    <select name="merchant_id">
      <% for merchant in @merchants %>
        <option value="<%=merchant.id%>"><%=merchant.name%></option>
      <%end%>
    </select>
  </label>
  <label>What category does this belong to?
    <select name="tag_id">
      <% for tag in @tags %>
        <option value="<%=tag.id%>"><%=tag.name%></option>
      <%end%>
    </select>
  </label>
  <label>What currency is this transaction in?
    <select name="account_id">
      <% for account in @accounts %>
        <option value="<%=account.id%>"
          <%= "selected" if account.id == @acc_id %>
          ><%=account.currency%></option>
      <%end%>
    </select>
  </label>
  <input type="submit" value="Create new transaction">
</form>
