<h1>Transaction no. <%=@transaction.id%></h1>
<ul>
  <li>Amount: <%=@transaction.amount%></li>
  <li>Merchant: <%=@merchant.name%></li>
  <li>Tag: <%=@tag.name%></li>
  <li>Date: <%=@transaction.transaction_date%></li>
</ul>

<a href="/transactions/<%=@transaction.id%>/edit">Edit</a>

<form action="<%=@transaction.id%>/delete" method="post">
  <input type="submit" value="Delete Transaction">
</form>
