<h2>Transaction no. <%=@transaction.id%></h2>

<table class="paleOrangeRows">
  <thead>
  <tr>
    <th>Amount</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Date</th>
    <th>Action</th>
  </tr>
</thead>
  <tr>
    <td><%=@transaction.amount%></td>
    <td>
      <%if @merchant != nil%>
        <%=@merchant.name%>
      <% else %>
        <%="Unknown"%>
      <%end%>
    </td>
    <td>
      <%if @tag != nil%>
        <%=@tag.name%>
      <%else%>
        <%="Unknown"%>
      <%end%>
    </td>
    <td><%=@transaction.transaction_date%></td>
    <td>
      <a href="/transactions/<%=@transaction.id%>/edit">Edit</a>
    </td>
  </tr>
</table>
