<h1>Transaction no. <%=@transaction.id%></h1>
<ul>
  <li>Amount: <%=@transaction.amount%></li>
  <li>Merchant: <%=@merchant.name%></li>
  <li>Tag: <%=@tag.name%></li>
  <li>Date: <%=@transaction.transaction_date%></li>
</ul>

<button> edit </button>
<button> delete </button>
