<h1>Transaction no. <%=@transaction.id%></h1>
<ul>
  <li>Amount: <%=@transaction.amount%></li>
  <li>Merchant:
    <%if @merchant != nil%>
      <%=@merchant.name%>
    <% else %>
      <%="Unknown"%>
    <%end%>
  </li>
  <li>Tag:
    <%if @tag != nil%>
      <%=@tag.name%>
    <%else%>
      <%="Unknown"%>
    <%end%>
  </li>
  <li>Date: <%=@transaction.transaction_date%></li>
</ul>

<a href="/transactions/<%=@transaction.id%>/edit">Edit</a>

<form action="<%=@transaction.id%>/delete" method="post">
  <input type="submit" value="Delete Transaction">
</form>
